// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Sizes
$a4-width: 210mm;
$a4-height: 297mm;

// Colors
$light-green: #2CBBAD;
$black: #000;
$dark-blue: #2A343E;
$faded-dark-blue: #2a343e3e;